@inherits WebViewPage<EmployeeBasicModel>
@using Sitecore.Mvc;
@using DevOpsDemo.Models;
@{
    if (Model != null)
    {
        <h4>Coming From Rendering</h4>
        <h2>Employee Name: @Html.Raw(Model.EmployeeName)</h2>
        <h3>Salary : @Model.EmployeeSalary</h3>
    }
}